<!-- templates/registration/login.html -->
{% extends 'index.html' %}

{% block title %}Login{% endblock %}
{% block headbuttons %}
<div class="d-flex justify-content-center">
    <a href="{% url 'signup' %}">
        <button type="button" class="btn btn-primary btn-lg">Signup</button>
    </a> &emsp;
    <a href="{% url 'login' %}">
        <button type="button" class="btn btn-primary btn-lg">Login</button>
    </a>
</div>
{% endblock %}
{% block content %}
<h2>Login To Github profile</h2>
{% if messages %}
{% for message in messages %}
<div class="alert alert-success">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% load crispy_forms_tags %}
<div class="container py-5">
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        </br>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{% endblock %}
