{% extends 'base.html' %}

{% block title %}Explore{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div style="text-align: center;">
            <a href="{% url 'explore' %}">
                <button class="head">Explore</button>
            </a>
            <a href="{% url 'profile' value=user.username %}">
                <button class="head">My Profile</button>
            </a>
            <a href="{% url 'logout' %}">
                <button class="head">Logout</button>
            </a>
        </div>
        <ul>
        {% for profile in profiles %}
            <li><a href="{% url 'profile' value=profile.username %}"> <button class="explore">{{ profile.username }}</button></a></li><br>
        {% endfor %}
        </ul>


    {% else %}
        <div style="text-align: center;">
            <a href="signup">
                <button>Signup</button>
            </a>
            <a href="{% url 'login' %}">
                <button>Login</button>
            </a>
        </div>
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}
{% endblock %}
