<!-- templates/home.html-->
{% extends 'index.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="d-flex justify-content-center">
    <a href="{% url 'explore' %}">
        <button class="btn btn-primary btn-lg" type="button">Explore</button>
    </a> &emsp;
    <a href="{% url 'profile' value=user.username %}">
        <button class="btn btn-primary btn-lg" type="button">My Profile</button>
    </a> &emsp;
    <a href="{% url 'logout' %}">
        <button class="btn btn-primary btn-lg" type="button">Logout</button>
    </a>
</div>
<h3>Dashboard</h3>
Hi {{ user.username }}!</br>
{% else %}
<div class="d-flex justify-content-center">
    <a href="signup">
        <button class="btn btn-primary btn-lg" type="button">Signup</button>
    </a> &emsp;
    <a href="{% url 'login' %}">
        <button class="btn btn-primary btn-lg" type="button">Login</button>
    </a>
</div>
<p>You are not logged in</p>
{% endif %}
{% endblock %}