<!-- templates/home.html-->
{% extends 'index.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="d-flex justify-content-center">
    <a href="{% url 'explore' %}">
        <button type="button" class="btn btn-primary btn-lg">Explore</button>
    </a> &emsp;
    <a href="{% url 'profile' value=user.username %}">
        <button type="button" class="btn btn-primary btn-lg">My Profile</button>
    </a> &emsp;
    <a href="{% url 'logout' %}">
        <button type="button" class="btn btn-primary btn-lg">Logout</button>
    </a>
</div>
Hi {{ user.username }}!
{% else %}
<div class="d-flex justify-content-center">
    <a href="signup">
        <button type="button" class="btn btn-primary btn-lg">Signup</button>
    </a> &emsp;
    <a href="{% url 'login' %}">
        <button type="button" class="btn btn-primary btn-lg">Login</button>
    </a>
</div>
<p>You are not logged in</p>
{% endif %}
{% endblock %}