{% extends 'base.html' %}

{% block title %}Explore{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div style="text-align: center;">
            <a href="{% url 'explore' %}">
                <button class="head">Explore</button>
            </a>
            <a href="{% url 'profile' value=user.username %}">
                <button class="head">My Profile</button>
            </a>
            <a href="{% url 'logout' %}">
                <button class="head">Logout</button>
            </a>
        </div>
        <h2>{{ profile.first_name }} {{ profile.last_name }} ( @{{ profile.username }} )</h2><br>
        {{ profile.follower_count }} followers <br />&nbsp;<br />
        {%   if profile.username == user.username %}
            Profile last updated : {{ profile.last_update }} <a href="{% url 'update' value=user.username%}">(update now)</a><br>
        {% else %}
            Profile last updated : {{ profile.last_update }} <br>
            {% endif %}
        <ul>
        {% for repo in profile.repos.repos %}
                    <li> {{ repo.name }} - {{ repo.stars }} stars <br>
                {% endfor %}
        </ul>
    {% else %}
        <div style="text-align: center;">
            <a href="signup">
                <button>Signup</button>
            </a>
            <a href="{% url 'login' %}">
                <button>Login</button>
            </a>
        </div>
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}
{% endblock %}
