{% extends 'index.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="d-flex justify-content-center">
    <a href="{% url 'explore' %}">
        <button type="button" class="btn btn-primary btn-lg">Explore</button>
    </a> &emsp;
    <a href="{% url 'profile' value=user.username %}">
        <button type="button" class="btn btn-primary btn-lg">My Profile</button>
    </a> &emsp;
    <a href="{% url 'logout' %}">
        <button type="button" class="btn btn-primary btn-lg">Logout</button>
    </a>
</div>
<div class="card" style="width: 18rem;">

    <div class="card-body">
        <img src="{{ profile.avatar_url }} " class="card-img-top" alt="github_avatar">
        <h5 class="card-title">{{ profile.first_name }} {{ profile.last_name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">@{{ profile.username }}</h6>
        <p class="card-text">
            Profile last updated : {{ profile.last_update }} &emsp;
        </p>
        <p class="card-text">
            followers : {{ profile.follower_count }} &emsp;
        </p>
        {% if profile.username == user.username or user.is_superuser %}
        <a href="{% url 'update' value=profile.username %}" class="card-link">update now</a>
        {% endif %}
        <a href="https://github.com/{{ profile.username }}" class="card-link">github@{{ profile.username }}</a>
    </div>
</div>
</br>
<h4>Repos of {{ profile.first_name }} {{ profile.last_name }}</h4>

<div class="row">

    {% for repo in repos %}
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-3">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ repo.repo_name }} &emsp;&emsp;
            <span class="badge bg-success"> &star; {{ repo.repo_stars }} </span>
        </li>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="d-flex justify-content-center">
    <a href="signup">
        <button type="button" class="btn btn-primary btn-lg">Signup</button>
    </a> &emsp;
    <a href="{% url 'login' %}">
        <button type="button" class="btn btn-primary btn-lg">Login</button>
    </a>
</div>
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}
